<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/goods.css"/>

</head>
<body>
<!--顶部-->
<header id="top">
	<nav id="topNav">
		<div class="margin clear">
			<div class="topNav-left">
				<div class="topNav-left-text">下载豌豆公主APP 发现更多好物</div>
				<div class="topNav-qrcode">
					<div class="qrcode-angle"></div>
					<img src="https://s2.wandougongzhu.cn/s/41/wd_10eaa2.png" alt>
				</div>
			</div>
			<div class="topNav-right">
				<div class="top-nav-auth">
					<em>请</em>
					<a href="../login-register/login.html" class="login">登录</a>
					<a href="../login-register/register.html" class="res">免费注册</a>
				</div>
				<i></i>
				<div class="top-nav-show">
					<a href="#">消费者须知</a>
				</div>
			</div>
		</div>
	</nav>	
	<div class="head">
		<div class="margin clear">
			<a href="index.html" class="logo"></a>
			<div class="search-box">
				<form action="" class="search-form">
					<input type="search" value="" placeholder="搜索商品或品牌" autocomplete="off">
					<button type="submit"></button>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- 导航栏 -->
<nav id="mainNav">
	<div class="mainNav margin clear">
		<!--全部商品分类-->
		<div class="main-cats">
			<div class="main-cats-labels">全部商品分类</div>
			<!--商品分类框-->
			<ul id="mainCatsNav">
				<li>
					<div class="mainCats-txt">
						<span>个护化妆</span>
						<p>
							<a href="#">面膜</a>
							<a href="#">口腔护理</a>
							<a href="#">彩妆套装</a>
						</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>基本护肤</span>
										<p>
											<a href="#">面膜</a>
											<a href="#">卸妆</a>
											<a href="#">洁面</a>
											<a href="#">化妆水</a>
											<a href="#">乳液</a>
											<a href="#">面霜</a>
											<a href="#">面部精华</a>
											<a href="#">眼霜眼膜</a>
											<a href="#">唇部护理</a>
											<a href="#">防晒</a>
											<a href="#">护肤套装</a>
										</p>
							</li>
							<li>
								<span>身体护理</span>
										<p>
											<a href="#">口腔护理</a>
											<a href="#">女性护理</a>
											<a href="#">洗发</a>
											<a href="#">护发</a>
											<a href="#">染发发蜡</a>
											<a href="#">沐浴</a>
											<a href="#">润肤</a>
											<a href="#">手部护理</a>
											<a href="#">足部护理</a>
										</p>
							</li>
							<li>
								<span>个性美妆</span>
										<p>
											<a href="#">美瞳</a>
											<a href="#">妆前隔离</a>
											<a href="#">粉底/气垫</a>
											<a href="#">粉饼</a>
											<a href="#">蜜粉/散粉</a>
											<a href="#">BB霜/CC霜/素颜霜</a>
											<a href="#">遮瑕</a>
											<a href="#">修容</a>
											<a href="#">唇妆</a>
											<a href="#">腮红</a>
											<a href="#">眉笔/粉</a>
											<a href="#">眼线</a>
											<a href="#">睫毛膏</a>
											<a href="#">眼影</a>
											<a href="#">香水香氛</a>
											<a href="#">彩妆套装</a>
										</p>
							</li>
							<li>
								<span>美容工具</span>
										<p>
											<a href="#">指甲护理</a>
											<a href="#">化妆棉</a>
											<a href="#">彩妆工具</a>
											<a href="#">美体塑形</a>
											<a href="#">美容仪器</a>
											<a href="#">美发工具</a>
											<a href="#">吸油纸</a>
											<a href="#">清洁用品</a>
										</p>
							</li>
							<li>
								<span>男士个护</span>
								<p>
									<a href="#">男士洁面</a>
									<a href="#">面部护肤</a>
									<a href="#">剃须用品</a>
									<a href="#">身体护理</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>中古奢品</span>
							<p>
								<a href="#">单肩包-中古</a>
								<a href="#">中古女鞋</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>中古箱包配饰</span>
								<p>
									<a href="#">单肩包-中古</a>
									<a href="#">手提包-中古</a>
									<a href="#">双肩包-中古</a>
									<a href="#">旅行箱-中古</a>
									<a href="#">腰包-中古</a>
									<a href="#">零钱包-中古</a>
									<a href="#">钱包-中古</a>
									<a href="#">女士腕表-中古</a>
									<a href="#">男士腕表-中古</a>
									<a href="#">中古围巾</a>
									<a href="#">中古丝巾</a>
									<a href="#">中古耳饰</a>
									<a href="#">中古项链</a>
									<a href="#">中古手饰</a>
									<a href="#">中古戒指</a>
									<a href="#">中古胸针</a>
								</p>
							</li>
							<li>
								<span>中古服饰鞋履</span>
								<p>
									<a href="#">中古女鞋</a>
									<a href="#">中古男鞋</a>
									<a href="#">中古女装</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>日式美食</span>
							<p>
								<a href="#">咖啡</a>
								<a href="#">方便面</a>
								<a href="#">饼干糕点</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>特色饮品</span>
								<p>
									<a href="#">咖啡</a>
									<a href="#">茶</a>
									<a href="#">蜂蜜糖浆</a>
									<a href="#">果汁汽水</a>
									<a href="#">酒</a>
								</p>
							</li>
							<li>
								<span>粮油副食</span>
								<p>
									<a href="#">方便面</a>
									<a href="#">方便即食</a>
									<a href="#">果酱酱料</a>
									<a href="#">浓汤香粥</a>
									<a href="#">米面食材</a>
									<a href="#">早餐麦片</a>
								</p>
							</li>
							<li>
								<span>休闲零食</span>
								<p>
									<a href="#">饼干糕点</a>
									<a href="#">糖果</a>
									<a href="#">薯条膨化</a>
									<a href="#">伴手礼</a>
									<a href="#">巧克力</a>
									<a href="#">海苔海味</a>
									<a href="#">果冻布丁</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>营养保健</span>
							<p>
								<a href="#">维生素</a>
								<a href="#">青汁酵素</a>
								<a href="#">口罩</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>功能养护</span>
								<p>
									<a href="#">维生素</a>
									<a href="#">补肾壮阳</a>
									<a href="#">护肝养眼</a>
									<a href="#">营养补充</a>
									<a href="#">肠胃养护</a>
									<a href="#">免疫调节</a>
									<a href="#">清肺止咳</a>
								</p>
							</li>
							<li>
								<span>女性保养</span>
								<p>
									<a href="#">青汁酵素</a>
									<a href="#">减肥瘦身</a>
									<a href="#">减肥食品</a>
									<a href="#">美容养颜</a>
									<a href="#">补血养气</a>
									<a href="#">内分泌</a>
								</p>
							</li>
							<li>
								<span>健康养护</span>
								<p>
									<a href="#">口罩</a>
									<a href="#">驱寒止痛</a>
									<a href="#">家中常备</a>
									<a href="#">蒸汽眼罩</a>
									<a href="#">暖宝宝</a>
									<a href="#">电子烟</a>
								</p>
							</li>
							<li>
								<span>老人必备</span>
								<p>
									<a href="#">三高调节</a>
									<a href="#">骨骼健康</a>
									<a href="#">心脑健康</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>家居生活</span>
							<p>
								<a href="#">衣物清洁</a>
								<a href="#">厨房餐饮</a>
								<a href="#">办公用品</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>居家清洁</span>
								<p>
									<a href="#">衣物清洁</a>
									<a href="#">卫浴用品</a>
									<a href="#">家居清洁</a>
									<a href="#">驱虫除臭</a>
									<a href="#">鞋护用品</a>
								</p>
							</li>
							<li>
								<span>生活日用</span>
								<p>
									<a href="#">厨房餐饮</a>
									<a href="#">水杯水壶</a>
									<a href="#">纸品湿巾</a>
									<a href="#">家居用品</a>
									<a href="#">家纺收纳</a>
								</p>
							</li>
							<li>
								<span>文具</span>
								<p>
									<a href="#">办公用品</a>
									<a href="#">本/便签</a>
									<a href="#">钢笔水笔</a>
									<a href="#">拍立得</a>
								</p>
							</li>
							<li>
								<span>宠物用品</span>
								<p>
									<a href="#">宠物零食</a>
									<a href="#">宠物用品</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>母婴儿童</span>
							<p>
								<a href="#">纸尿裤</a>
								<a href="#">洗发沐浴</a>
								<a href="#">奶瓶</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>特色饮品</span>
								<p>
									<a href="#">咖啡</a>
									<a href="#">茶</a>
									<a href="#">蜂蜜糖浆</a>
									<a href="#">果汁汽水</a>
									<a href="#">酒</a>
								</p>
							</li>
							<li>
								<span>粮油副食</span>
								<p>
									<a href="#">方便面</a>
									<a href="#">方便即食</a>
									<a href="#">果酱酱料</a>
									<a href="#">浓汤香粥</a>
									<a href="#">米面食材</a>
									<a href="#">早餐麦片</a>
								</p>
							</li>
							<li>
								<span>休闲零食</span>
								<p>
									<a href="#">饼干糕点</a>
									<a href="#">糖果</a>
									<a href="#">薯条膨化</a>
									<a href="#">伴手礼</a>
									<a href="#">巧克力</a>
									<a href="#">海苔海味</a>
									<a href="#">果冻布丁</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>时尚服饰</span>
							<p>
								<a href="#">运动健身</a>
								<a href="#">单肩包</a>
								<a href="#">凉鞋</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>服饰内衣</span>
								<p>
									<a href="#">运动健身</a>
									<a href="#">裤袜丝袜</a>
									<a href="#">瘦腿袜</a>
									<a href="#">男装</a>
									<a href="#">女装</a>
								</p>
							</li>
							<li>
								<span>背包配饰</span>
								<p>
									<a href="#">单肩包</a>
									<a href="#">双肩包</a>
									<a href="#">环保袋</a>
									<a href="#">饰品</a>
									<a href="#">帽子</a>
									<a href="#">旅行箱</a>
									<a href="#">钱包</a>
									<a href="#">眼镜</a>
								</p>
							</li>
							<li>
								<span>鞋</span>
								<p>
									<a href="#">凉鞋</a>
									<a href="#">运动鞋</a>
									<a href="#">高跟鞋</a>
									<a href="#">拖鞋</a>
									<a href="#">平底鞋</a>
									<a href="#">短靴</a>
									<a href="#">帆布鞋</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div class="mainCats-txt">
						<span>数码电器</span>
							<p>
								<a href="#">运动相机</a>
								<a href="#">咖啡机</a>
								<a href="#">耳机</a>
							</p>
					</div>
					<div class="second-menu">
						<ul>
							<li>
								<span>相机</span>
								<p>
									<a href="#">运动相机</a>
									<a href="#">微单相机</a>
								</p>
							</li>
							<li>
								<span>小家电</span>
								<p>
									<a href="#">咖啡机</a>
									<a href="#">净化器</a>
									<a href="#">电饭煲</a>
								</p>
							</li>
							<li>
								<span>外设产品</span>
								<p>
									<a href="#">耳机</a>
									<a href="#">鼠标</a>
									<a href="#">音箱/音响</a>
									<a href="#">键盘</a>
								</p>
							</li>
							<li>
								<span>办公设备</span>
								<p>
									<a href="#">打印机</a>
									<a href="#">投影仪</a>
								</p>
							</li>
							<li>
								<span>游戏机</span>
								<p>
									<a href="#">掌机</a>
								</p>
							</li>
						</ul>
						<div class="cat-hot">
							<p>热门品牌</p>
							<ul class="cat-hot-list">
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
								<li class="clear">
									<a href="#">
										<div class="cat-hot-logo">
											<img src="https://ossimg.wandougongzhu.cn/01d2b5fbf9b048b1f81b97f02d7cfdab.jpg@300w_300h_1l_1wh_1pr.jpg" alt="">
										</div>
										<div class="cat-hot-info">
											<div class="cat-hot-name">ORBIS 奥蜜思</div>
											<div class="cat-hot-desc">开创无油化妆新理念</div>
										</div>
										<div class="cat-hot-cnt"><span>198</span>款商品</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<!--二级菜单-->
		</div>
		<div class="fixed-logo"><img src="https://s5.wandougongzhu.cn/s/42/logo_b3fe22.png"></div>
		<!--导航-->
		<ul id="mainTabs">
			<li><a href="../index.html" class="te" title="首页">首页</a></li>
			<li><a href="../goods/goods.html" class="" title="美妆馆">美妆馆</a></li>
			<li><a href="../goods/goods.html" class="" title="时尚馆">时尚馆</a></li>
			<li><a href="../goods/goods.html" class="" title="美食馆">美食馆</a></li>
			<li><a href="../goods/goods.html" class="" title="健康馆">健康馆</a></li>
			<li><a href="../goods/goods.html" class="" title="母婴馆">母婴馆</a></li>
			<li><a href="../goods/goods.html" class="" title="生活馆">生活馆</a></li>
			<li><a href="../goods/goods.html" class="" title="电器馆">电器馆</a></li>
		</ul>
		<!--吸顶搜索-->
		<div class="fixed-search clear">
			<form  class="search-form">
				<input type="search" value="" name="q" autocomplete="off">
				<button type="submit"></button>
			</form>
		</div>
	</div>
</nav>
<div id="sideBar">
	<div class="side-bar-box">
		<div class="side-bar-item cart">
			<i>0</i>
			<div class="side-bar-icon">
				<img src="https://s1.wandougongzhu.cn/s/b1/_6fa1cf.png">
			</div>
			<div class="side-bar-hover">
				<img src="https://s5.wandougongzhu.cn/s/d4/_1c4bf6.png">
			</div>
			<div class="side-bar-title">购物袋</div>
		</div>
		<div class="side-bar-item qrcode">
			<div class="side-bar-icon">
				<img src="https://s4.wandougongzhu.cn/s/e9/app_b6134f.png">
			</div>
			<div class="side-bar-hover">
				<img src="https://s3.wandougongzhu.cn/s/d4/app_4a0277.png">
			</div>
			<div class="side-bar-title">下载APP</div>
			<div class="side-bar-qacode">
				<div class="side-bar-bounus">
					<span class="side-unit">￥</span>
					<span class="side-money">1080</span>
					<span class="side-desc">
						<div class="side-desc1">(全品类)</div>
						<div class="side-desc2">新人红包</div>
					</span>
				</div>	
				<div class="side-qrcode">
					<img src="https://s2.wandougongzhu.cn/s/41/wd_10eaa2.png">
				</div>
				<div class="side-bar-qr-title">立即扫码下载APP</div>
			</div>
		</div>
		<div class="side-bar-item back-to-top">
			<div class="side-bar-icon">
				<img src="https://s5.wandougongzhu.cn/s/25/_4c4515.png">
			</div>
			<div class="side-bar-hover">
				<img src="https://s3.wandougongzhu.cn/s/52/_938163.png">
			</div>
			<div class="side-bar-title">返回顶部</div>
		</div>
	</div>
</div>

<main>
	<div class="margin clear">
		<ul class="goods-list clear">
		<!--<li class="goods">
				<a href="#">
					<div class="img-table">
						<div class="img-table-cell">
							<img src="https://ossimg.wandougongzhu.cn/e04ba71186ad1974ce2e545a6cf668d1.png@500w_4000h_1l.webp">
						</div>
					</div>
					<div class="goods-slogan">牙齿美白不能忘</div>
					<div class="goods-title">MUSEE 缪思 速攻美白牙齿橡皮擦清洁擦 3枚*2盒</div>
					<div class="goods-price">¥161.31</div>
				</a>
				<span class="addCar">加入购物车</span>
			</li>-->
		</ul>
		 <!-- 页标 -->
	    <div class="pagination">
	        <b class="prev">上一页</b>
	        <p>
	            <!-- <span>2</span> -->
	        </p>
	        <b class="next">下一页</b>
	    </div>
	</div>
</main>
<section id="pageBottom">
	<div class="margin clear">
		<ul>
			<li>
				<div class="icom">
					<img src="https://s4.wandougongzhu.cn/s/f0/3x_501e0e.png">
				</div>
				<div class="promise">
					<div class="promise-title">假一赔十</div>
					<div class="promise-content">
						<div class="content">正品保障</div>
						<div class="content">假一赔十</div>
					</div>
				</div>
			</li>
			<li>
				<div class="icom">
					<img src="https://s4.wandougongzhu.cn/s/8c/1003x_171c2a.png">
				</div>
				<div class="promise">
					<div class="promise-title">100%正品</div>
					<div class="promise-content">
						<div class="content">品牌直供</div>
						<div class="content">正品低价</div>
					</div>
				</div>
			</li>
			<li>
				<div class="icom">
					<img src="https://s.wandougongzhu.cn/s/e7/3x_297457.png">
				</div>
				<div class="promise">
					<div class="promise-title">放心承保</div>
					<div class="promise-content">
						<div class="content">七天无忧退换货</div>
					</div>
				</div>
			</li>
			<li>
				<div class="icom">
					<img src="https://s.wandougongzhu.cn/s/20/3x_306e5f.png">
				</div>
				<div class="promise">
					<div class="promise-title">专业配送</div>
					<div class="promise-content">
						<div class="content">关税物流</div>
						<div class="content">平台承保</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="company-info">
			<div class="company-logo">
				<div class="logo-box">
					<img src="https://s2.wandougongzhu.cn/s/a3/logo_08735f.png">
				</div>
				<div class="contact-us">
					<div class="contact-title">联系我们</div>
					<div class="contact-xl">
						<img src="https://s5.wandougongzhu.cn/s/02/Fill1_accf61.png">
					</div>
					<div class="contact-wx">
						<img src="https://s.wandougongzhu.cn/s/43/_820175.png">
					</div>
				</div>
			</div>
			<div class="company-lnto">
					中国领先的日淘垂直跨境电商平台，秉承“懂日本 更懂你”的理念，所售商品均由日本生活方式达人精挑细选。不仅能让中国消费者享受日式高品质商品的贴心购买服务，更能让其体验“地道”的日本精致生活方式。豌豆公主不仅是日本优质商品的传递者，更是精致生活方式的引导者。
			</div>
			<div class="company-qrocde">
				<div class="qrcode-box">
					<div class="qrcode-img">
						<img src="https://s2.wandougongzhu.cn/s/8b/Bitmap_7a3cbb.png">
					</div>
					<div class="app-down">立即扫码下载APP</div>
					<div class="app-down-red">领1080元新人礼包</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<p>Copyright © 2018 北京良市无际科技有限公司. All Rights Reserved. <br>
	京ICP证160094号 | 京ICP备15013395号-1 | 统一社会信用代码91110105330357053K | 食品经营许可证编号JY11105321266300<br>
	公司地址：北京市朝阳区来广营西路5号院诚盈中心1号楼10层1001、1002、1003单元<br>
	电话：4001183939</p>
</footer>
</body>
<script src="../libs/jquery.js"></script>
<script src="../libs/cookie.js"></script>
<script src="../libs/require.js" data-main="js/init.js"></script>
<script type="text/javascript">
	window.onload = function(){
		var mainNav = document.querySelector("#mainNav");
		var mainCats = document.querySelector(".main-cats");
		var fixedLogo = document.querySelector(".fixed-logo");
		var fixedSearch = document.querySelector(".fixed-search");
		var h = mainNav.offsetTop;
		window.onscroll = function(){
			var t = document.body.scrollTop || window.pageYOffset || document.documentElement.scrollTop;
			if(t >= h){
				mainNav.style.position = "fixed";
				mainNav.style.top = 0;
				mainNav.style.height = "48px";
				mainCats.style.display = "none";
				fixedLogo.style.display = "block";
				fixedSearch.style.display = "block";
			}else{
				mainNav.style.position = "relative";
				mainNav.style.height = "38px";
				mainCats.style.display = "block";
				fixedLogo.style.display = "none";
				fixedSearch.style.display = "none";
			}
		}
	}
</script>
</html>